.logo {
    text-align:center;
    margin-bottom:16px;
}
img {
    width: 100%;
}
.col-md-4 h2 {
    padding-top:16px;
}
[type="submit"] {
    background:#007bff;
    cursor:pointer;
    border:#007bff;
    padding: 6px;
    color: #fff;
}
p#showData {
    margin-top:1em;
}
[type="submit"]:hover {
    background:#000;
    border:#000;
    padding: 6px;
    color: #fff;
}
input, button, select, optgroup, textarea {
    display: block;
    width: 100%;
}
div.icons a img {
    width: 3em;
}
@media (min-width: 576px) {
.jumbotron {
    text-align: center;
 }}
.jumbotron ul {
    list-style: none;
}
.jumbotron ul li {
    padding: 8px 0px;
    border-top: 1px solid #000;
    margin-top: 8px;
}
.col-md-8 li {
    padding:0px!important;
    border-top:0px!important;
    margin-top:0px!important;
    text-align:left!important;
}
.col-md-8 {
    text-align:left!important;
}
.col-md-4 {
    text-align:left!important;
}

footer {
    margin-top:40px;
    padding-top: 32px;
    text-align: center;
    margin-bottom: 32px;
    border-top: 1px solid #000;
}
.btn {
    margin-bottom:32px;
}
.nav-link {
    display:inline-block;
}
li.nav-item {
    display:inline-block;
}
ul.navbar-nav.mr-auto {
    display:inline-block;
}
.navbar-brand {
    margin-left:4.6%;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:#ddd;
  color: black;
}

.active {
  background-color:#007bff;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width:768px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
}}
@media screen and (min-width:768px) {
#width1.booked-wzs-160-110, #width2.booked-wzs-160-110, #width3.booked-wzs-160-110, #width4.booked-wzs-160-110 {
    float:right;
}}
@media screen and (max-width:768px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
