@media only screen and (max-width:768px;) {
.btn-secondary {
    margin-bottom:32px;
}}
.nav-link {
    display:inline-block;
}
li.nav-item {
    display:inline-block;
}
ul.navbar-nav.mr-auto {
    display:inline-block;
}
